In [1]:
import pandas as pd
import numpy as np

In [5]:
train_df=pd.read_csv('/Users/jiangrun/Downloads/huaweiage/age_train.csv',header=None,names=['id_user','label'])
train_df.head()

   id_user  label
0  1000001      4
1  1000011      3
2  1000015      5
3  1000019      3
4  1000023      2

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2010000 entries, 0 to 2009999
Data columns (total 2 columns):
id_user    int64
label      int64
dtypes: int64(2)
memory usage: 30.7 MB